# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/spendbee?schema=public"

# Server Configuration
PORT=3000

# API Keys (optional)
OPENAI_API_KEY=""
GOOGLE_API_KEY=""
